.search-form {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background: #0073e6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 50px auto; /* Центрирование формы по горизонтали */
}

.input {
  margin-right: 10px; 
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  background: #fff;
  font-size: 16px;
  color: #333;
  flex: 1;
}

.date-input {
  margin-right: 10px;
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  font-size: 16px;
  color: #333;
  width: 150px;
}

.button {
  margin-right: 10px;
  flex: 1;
  background: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;  
  transition: background-color 0.3s;
}

.button:hover {
  background: #ff8c36;
}